  <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-3">
      <h2>User info</h2>
      <%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "profile.jpg", class: "attachment user profile_image" %>
      <table class="table">
        <tbody>
          <tr>
            <th>name</th>
            <td><%= user.name %></td>
          </tr>
          <tr>
            <th>introduction</th>
            <td><%= user.introduction %></td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <%= link_to edit_user_path(current_user.id) do %>
          <div class="col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_17358"></div>
        <% end %>
        <h2>New book</h2>
        <%= form_for(book) do |f| %>
          <div class="field row">
            <label for="book_title">Title</label>
            <%= f.text_field :title, class:"col-xs-12 book_title" %>
          </div>
          <div class="field row">
            <label for="book_opinion">Opinion</label>
            <%= f.text_area :body, class:"col-xs-12 book_body" %>
          </div>
          <div class="actions row">
            <%= f.submit 'Create Book', class:"btn btn-primary col-xs-12" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>